@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100;300;400&display=swap');

.landing {
  min-width: 100%;
  height: 100vh;
  color: white;
  background-image: url("../public/images/tattoo.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

.header {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
}

.logo {
  font-size: 42px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.menu a {
  font-size: 22px;
  text-decoration: none;
  color: white;
  margin-left: 32px;
  transition: all linear 0.1s;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.menu a:hover {
  color: #cacaca;
}

@media (max-width: 600px) {
  .landing {
    background-image: url("../public/images/tattoo-mobile.png");
    width: 500px;
    height: 100vh;
  }

  .header {
    height: 100px;
  }
}