@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap');

.landing {
  width: 100%;
  height: 300vh;
}

.firstView {
  min-width: 100%;
  height: 100vh;
  background-image: url("../public/images/tattoo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 128px;
  flex-wrap: wrap;
}

.title {
  font-family: 'Source Serif Pro', serif;
  font-size: 64px;
  letter-spacing: 3px;
  animation: wordsToggle ease-in-out 1s;
}

.header {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 128px;
  background-color: #000000c5;
  position: fixed;
  z-index: 1;
}

#logo {
  width: 100px;
  margin-right: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

.menu a {
  font-size: 22px;
  text-decoration: none;
  color: white;
  transition: all linear 0.1s;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.menu a:hover {
  color: #cacaca;
}

.areas {
  width: 100%;
  height: 100vh;
  font-size: 64px;
  background-color: #1b1b1b;
}

.contatos {
  width: 100%;
  height: 100vh;
  font-size: 64px;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: row;
  padding-top: 7.5%;
}

.contatosBtns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contatosBtns a {
  text-decoration: none;
}

.instaBtn {
  width: 100%;
  height: 100px; 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  border: none;
  cursor: pointer;
  font-size: 48px;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 16px 16px 12px #00000060;
  margin-bottom: 64px;
}

.wppBtn {
  width: 100%;
  height: 100px; 
  border: none;
  cursor: pointer;
  font-size: 48px;
  color: white;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #2a9e2a, #068610);
  border-radius: 50px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 16px 16px 12px #00000060;
}

.instaBtn img, .wppBtn img {
  width: 52px;
  margin-right: 24px;
}

@keyframes wordsToggle {
  from {
    transform: scale(0.1);
  } to {
    transform: scale(1.0);
  }
}

@media (max-width: 600px) {
  .firstView {
    background-image: url("../public/images/tattoo-mobile.png");
    height: 100vh;
    filter: grayscale(100%);
    padding: 128px 32px;
  }

  .header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 32px;
  }

  .menu a {
    font-size: 14px;
  }

  .areas {
    text-align: center;
  }
  
  .title {
    font-size: 38px;
  }

  .contatos {
    flex-wrap: wrap;
  }

  .contatosImg {
    display: none;
  }

  .instaBtn, .wppBtn {
    font-size: 32px;
  }
}

@media (max-width: 340px) {
  .menu {
    padding: 0;
  }
  .menu a {
    font-size: 14px;
  }

  #logo {
    width: 60px;
  }

  .title {
    font-size: 38px;
  }

  .instaBtn, .wppBtn {
    font-size: 28px;
  }
}